# PHYS 308 - Notebook 01 - Python Tutorial - Part A

Python is a programming language which is very commonly used in physics, engineering, and in industry. It is an interpreted high-level language which focusses on code readability. There are thousands of external python packages which extend python's capabilities and make it very useful for calculations, plotting, and many other scientific tasks.

## Basics

### Code and comments

Anything you write in a Code cell will be interpreted and run when you press "Shift Enter"

You can also leave comments using the # symbol. Python will not run anything on the same line after the #.

In [1]:
x=3
# This text is a comment
y=4 # This text is also a comment. Use comments to document your code when necessary. 
z=x+y #In this case the code is self explanatory so no comment is needed
print(z)


m = 53 # kg
a = 3.0 # m/s^2
force = m*a # Calculate force in Newtons using Newton's laws
print ("Force = ",force," N")

7
Force =  159.0  N

### Printing to the screen

Python print() Function
Built-in function which displays your specified message to the screen

Documentation: https://docs.python.org/3/library/functions.html#print

In [1]:
print("Hello world") # print one string to the screen

Hello world

In [4]:
print("First","Second") # print two strings to the screen separated by a space

First Second

In [6]:
# print three strings sepbarated by a user defined separator using the function parameter sep
print("Cat","Dog","Horse",sep="<--->")

Cat<--->Dog<--->Horse

In [7]:
# print on two different lines
print("Cat")
print("Dog")

Cat
Dog

In [4]:
# print on the same line with different statements 
print("Cat",end="")
print("Dog")

CatDog

In [10]:
# print on the same line with different statements 
print("Cat",end="\n")
print("Dog")

Cat
Dog

_<font color=magenta>----Begin Exercise 01-1----</font> _

Write code in the code cell below using the print function and run the code (shift+enter) such that it displays the following:

    Physics is fun

           So is writing python code
       
    Physics+Math+Coding

           = Fun

In [10]:
print("Physics is fun",end="\n")
print("")
print("\tSo is writing python code",end="\n\n")
print("Physics","Math","Coding",sep="+",end="\n\n")
print("\t= Fun")

Physics is fun

	So is writing python code

Physics+Math+Coding

	= Fun

_<font color=magenta>----End Exercise----</font> _

We can use the pyton built-in function type() to check what type of object the print function is

In [13]:
type(print)

builtin_function_or_method

We can also use the built-in function help() to read the documentation on print()

In [14]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

One last note about print():

The definition of this function changed between python 2 and python 3

If you are trying to run code from and old textbook you will have to update the print functions!

### Variable assignment and output

Variables are used to hold values

In [62]:
# create a variable with name x and assign the value 3 to that variable
x=3

In [63]:
# print the variable contents to the screen. 
# note: the print output is the value assigned to the variable and not the name of the variable

print (x)

3

In [64]:
# reassign the variable x 
x=4

In [19]:
print(x)

4

In [2]:
print("The value of x is", x,", isn't that cool!")    # You add some text  before and after the variable

The value of x is 3 , isn't that cool!

In [11]:
g=h=j=6

In [3]:
y,z = 5, 3.4   # Assign multiple variables at once (y = 5 and z = 3.4)

In [4]:
print(x,y,z)  # You can print multiple variables ( they will be separated by a space)

3 5 3.4

In [5]:
print(x,y,z,sep="; ") # Print the variables again making them more readable

3; 5; 3.4

### Variable names

Python has rules about what can be used as a variable name. 

- Letters and underscores are okay. 
- A variable name cannot start with a number but it may contain a number
- Other characters are not okay (dash, backslash, plus symbol etc.)

In [74]:
x = 5  # okay
CAPITAL = 34 # okay
neutrino_1 = 2.59 #okay
_galaxy5 = 3.2 # okay

In [75]:
25pro = 5.3 # not okay

SyntaxError: invalid syntax (<ipython-input-75-670807239f9d>, line 1)

In [77]:
detector_minus_5 = 0.3 # okay
detector-5 = 0.3 # not okay

SyntaxError: can't assign to operator (<ipython-input-77-35789333dfe9>, line 2)

In [76]:
hydrogen_plus_helium = 5 # okay
hydrogen+helium = 5 # not okay

SyntaxError: can't assign to operator (<ipython-input-76-1b3ec45d266a>, line 2)

_<font color=magenta>----Begin Exercise 01-2----</font> _

In the code cell below please do the following:

1. Define a variable which stores Planck's constant (typically one uses the symbol h): $6.62 \times 10^{-34} \text{m}^2 \text{kg/s}$
    
    - Hint: For scientific notation you can use the symbol "e-34" to denote $10^{-34}$ 
<br>
<br>
2. Define a variable which stores the value of $\pi$: 3.14159265

3. Use the previously defined variables to define the reduced Planck's constant (Planck's constant divided by $2\pi$) for which we often use the name "h-bar"

4. Print all 3 variables to the screen

In [13]:
h = 6.62e-34
pi=3.14159
h_bar = h/(2*pi)
print(h_bar)

1.0536066132117812e-34

_<font color=magenta>----End Exercise----</font> _

### Variable types

python assigns an int, float, string or complex variable. 

* int = "Integer" 
    * Variable type used to store integer numbers (no decimals)
* float = "Floating point number"
    * Variable type used to store decimal numbers
* str = "String"
    * Variable type used to store text and manipulate text
* complex = "Complex number"
    * Variable type used to store complex numbers (both the real and imaginary part)


Python is "dynamically typed". This means that you typically do not have to define the type (it figures it out for you). It also means that one variable name can be first defined as one type and later changed to contain a different type.

In [45]:
x = 5
type(x)

int

In [85]:
y = 5.5
type(y)

float

In [83]:
z="hello"   
type(z)

str

In [86]:
k = complex(2,7); 
type(k)

complex

In [89]:
# printing real and imaginary part of complex number 
print ("The real part of complex number is : ",end="") 
print (k.real) 
  
print ("The imaginary part of complex number is : ",end="") 
print (k.imag)

The real part of complex number is : 2.0
The imaginary part of complex number is : 7.0

In [90]:
print(x,y,z,k,sep=", ")

3, 5.5, hello, (2+7j)

_<font color=magenta>----Begin Exercise 01-3----</font> _

Four variables are defined below. In the code cell below each variable definition use the type() function to determine the type of previosly defined variable.

In [25]:
# Determine the type of a
a = "27"

In [27]:
print(type(a))

<class 'str'>

In [17]:
# Determine the type of b
b = -59.0

In [18]:
type(b)

float

In [19]:
# Determine the type of c
c = -59

In [20]:
type(c)

int

In [21]:
# Determine the type of d after its final assignment
d = 5.3e13
d = "whatisthis"
d = 32

In [22]:
type(d)

int

In [28]:
# Determine the type of g
example_float = 15.5

example_int = 5
g = example_float + example_int

In [24]:
type(g)

float

In the last example why was g assigned to be a float instead of an int?

_<font color=magenta>----End Exercise----</font> _

Python performs "implicit conversion" and automatically converts the int to a float when adding it to a float. If it were to instead convert the float to an int you would lose some information.

### Converting between types

Python has built-in functions which convert a variable from one type to another:

In [19]:
x = 5
print("type(x) = ",type(x))
print("x = ",x)

y = float(x)
print("type(y) = ",type(y))
print("y = ",y)

z = str(x)
print("type(z) = ",type(z))
print("z = ",z)

k = int(y)
print("type(k) = ",type(k))
print("k = ",k)

j = int(z)
print("type(k) = ",type(k))
print("k = ",k)

type(x) =  <class 'int'>
x =  5
type(y) =  <class 'float'>
y =  5.0
type(z) =  <class 'str'>
z =  5
type(k) =  <class 'int'>
k =  5
type(k) =  <class 'int'>
k =  5

_<font color=magenta>----Begin Exercise 01-4----</font> _

In [30]:
#convert the following variables to integers 
#  and print out the converted value 
#  and the new type
b_float = -59.3
c_float = 23.5
d_float = 100.99

In [32]:
b_int = int(b_float)
print("type(b_int) = ",type(b_int))
print("b_int = ",b_int)

c_int = int(c_float)
print("type(c_int) = ",type(c_int))
print("c_int = ",c_int)

d_int = int(d_float)
print("type(d_int) = ",type(d_int))
print("d_int = ",d_int)

type(b_int) =  <class 'int'>
b_int =  -59
type(c_int) =  <class 'int'>
c_int =  23
type(d_int) =  <class 'int'>
d_int =  100

In [35]:
#convert the following variables to strings 
#  and define e_str and f_str to hold these values
#  and print out the converted value 
#  and the new type
e_int = 94
f_float = -3.1

In [36]:
e_str = str(e_int)
f_str = str(f_float)

In [13]:
#see what happens when you try to add e_str and f_str 
# - add them then print it to the screen

In [37]:
mytext = e_str+f_str
print(mytext)

94-3.1

In [38]:
#convert the following variables to floats 
h_int = 394
k_str = "hello"

In [39]:
h_float= float(h_int)
k_float=float(k_str)

ValueError: could not convert string to float: 'hello'

_<font color=magenta>----End Exercise----</font> _

### Requesting input

You can use the built-in function input() to request input from

In [40]:
x=input("Please enter the value of x: ")

Please enter the value of x: 25

In [41]:
print(x)

25

In [42]:
type(x)    # what type is this?

str

An input variable is always a string. It is easy to convert to a float:

In [43]:
y=float(x)

In [44]:
print(y)

25.0

In [45]:
type(y)

float

_<font color=magenta>----Begin Exercise 01-5----</font> _

Do the following in one line:
- define a variable
- request the user to input a number
- convert it to a float

_<font color=magenta>----End Exercise----</font> _

Here is an example solution:

In [ ]:
x=float(input("Enter the value of x: "))

In [ ]:
print("The value of x is", x)

In [46]:
x=float(input("Enter the value of x: "))  # you will get an error if you feed in a string

Enter the value of x: hello

ValueError: could not convert string to float: 'hello'

### Arithmetic

In [23]:
x=10

In [24]:
y=2.3822

In [25]:
x+y # addition

12.382200000000001

In [26]:
x-y # subtraction

7.6178

In [27]:
x*y # multiplication

23.822000000000003

In [28]:
x/y # division

4.197800352615229

In [29]:
x**y  # raising x to the power of y

241.10154867304115

In [30]:
x//y  # integer division aka floor division (rounds the result down to the nearest integer)

4.0

In [31]:
14//3

4

In [32]:
-14//3

-5

In [33]:
x%y  # modulo (gives the remainder after x is divided by y)

0.4711999999999996

In [34]:
14%3  # 14/3 = 4 remainder 2

2

Why is modulo useful? You can use it to find if one number is divisible by a number or if a number is even or odd (by taking the modulo with 2)

_<font color=magenta>----Begin Exercise 01-6----</font> _

In [48]:
# Test if the following numbers are even or oddd
#   4045
# -44
#4045%2
-44%2

0

_<font color=magenta>----End Exercise----</font> _

In [35]:
4%2 # 4 is even

0

In [36]:
5%2 # 5 is odd

1

In [50]:
for x in range(0, 2000):    # We will get to for statements and if statements later
    if x%100==0:
        print(x)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900

#### Order of operations

Python uses the standard order of operations
PEMDAS
(Parentheses
Exponents
Multiplication and Division
Addition and Subtraction)

_<font color=magenta>----Begin Exercise 01-7----</font> _

calculate and print average velocity using the formula $v_{\text{avg}}=\frac{x_2-x_1}{t_2-t_1}$

In [39]:
x1 = 1.5 # m
x2 = 24.4 # m
t1 = 13.3 # s
t2 = 19.1 # s

Calculate and print the following formula $k = g^{\frac{h}{j}}$

In [41]:
g = 3.3
h = 12.4
j = 4.2

_<font color=magenta>----End Exercise----</font> _

#### Arithmetic and type

In [42]:
x,y = 1,2

In [43]:
type(x+y)

int

In [44]:
x,y = 1,2.5

In [45]:
type(x+y)

float

In [46]:
print(x+y)

3.5

In [47]:
x,y = 1.5,2.5

In [48]:
type(x+y)

float

Division never gives an int

In [52]:
x,y = 4,2

In [53]:
type(x/y)

float

In [54]:
x,y = 5,2

In [55]:
type(x/y)

float

In [56]:
print(x/y)

2.5

#### Some notes on precision

In [51]:
(1/50.0)*50.0

1.0

In [52]:
(1/51.0)*51.0

1.0

In [3]:
(1/59.3)*59.3

0.9999999999999999

In [4]:
(1/49.0)*49.0

0.9999999999999999

Why aren't we getting 1?
Many real numbers need an infinite number of decimals. This obviously isn't possible with limited memory. The computer truncates floats to 16 digits leading to small rounding errors in some cases

#### Combine mathematical operations

In [61]:
x = 6
y = 2

x+2*y

10

In [62]:
x-y/2

5.0

In [63]:
3*x**2

108

In [64]:
x/2*y  #  x*y / 2

6.0

In [65]:
2*(x+y)

16

python cannot rearrange an equation

In [66]:
2*x=y

SyntaxError: can't assign to operator (<ipython-input-66-290d23741c96>, line 1)

In [67]:
x = 2*y # this is an assignment not an equation

In [68]:
print(x)

4

In [69]:
x = x + 1   # this doesn't make sense as an equation but it does as an assignment

In [70]:
print(x)

5

In [71]:
x = 0
print(x)
x = x**2 - 2    # this is not a quadratic equation x = x^2 -2 , it is an assignment
print(x)

0
-2

#### Variable modifiers

In [72]:
x=4
print(x)
x+=1         # this is the same assigning x = x + 1
print(x)

4
5

In [73]:
x=4
print(x)
x-=1         # this is the same assigning x = x - 1
print(x)

4
3

In [74]:
x=4
print(x)
x*=2.5      # this is the same assigning x = x * 2.5
print(x)

4
10.0

In [75]:
x=4
print(x)
x/=2        # this is the same assigning x = x / 2 
print(x)

4
2.0

#### Multiple variable assignment

In [76]:
x,y = 1, 2.5
print(x,y)

1 2.5

In [77]:
z=4
x,y = 2*z+1, (x+y)
print(x,y)

9 3.5

In [2]:
x,y = 3,4
print(x,y)

x,y = y,x   # swap variables ( more challanging in other languages)
print(x,y)

3 4
4 3

### Example 2.1

Ball dropped from a tower. How far does it drop in a given ammount of time?

In [5]:
h=float(input("Enter the height of the tower: "))
t=float(input("Enter the time interval: "))
s= (1/2)*9.8*t**2    # 1/2 g t^2
print("The ball has fallen",s,"meters")
print("The height of the ball is",h-s,"meters")

Enter the height of the tower: 100
Enter the time interval: 6
The ball has fallen 176.4 meters
The height of the ball is -76.4 meters

Same code but using a variable to store the acceleration due to gravity. This makes the code easier to read and you only need to define it once and you can use it many times.

In [3]:
h=float(input("Enter the height of the tower in meters: "))
t=float(input("Enter the time interval in seconds: "))
g = 9.8  #Acceleration due to gravity in m/s^2
s= g*t**2/2   # 1/2 g t^2
print("The ball has fallen",s,"meters")
print("The height of the ball is",h-s,"meters")

Enter the height of the tower in meters: 2
Enter the time interval in seconds: 1
The height of the ball is -2.9000000000000004 meters